manuscript/
git-push.sh
.Rproj.user
.Rhistory
README.html
desktop.ini
data/additional/
data/prepared/
data/removed/
data/coding/masd_studylist_full.xslx
PRISMA\ checklist.docx
OSF_link.url
registration\ protocol\ (commented).docx
Rplots.pdf